<div class="navbar-fixed">
   <nav>
      <div class="nav-wrapper grey darken-3">
         <div class="brand-logo left" id="align-title">Bookshelf</div>
         <ul class="right">
            <a class="waves-effect waves-light btn right" id="mySearch" (click)="mySearch(searchPhrase.value)"><i class="material-icons left">search</i>search</a>
            <div class="input-field col s6 right">
               <input placeholder="Book category"  id="book-type-search" type="text" class="active" #searchPhrase>
               <label for="first_name">Search Books</label>
            </div>
         </ul>
      </div>
   </nav>
</div>

<div class="row" id="listed-books">
<div class="col s3 light grey lighten-2" id="saved-books">
   <h6>Books to Read</h6>
   <div class="collection" *ngFor="let listItem of myList; let i = index">
      <i class="material-icons right" (click)="removeItem(i)" id="align-remove">cancel</i>
      <a href="#!" class="collection-item">{{listItem}}</a>
   </div>
</div>

<div class="row" id="listed-books" >
<div class="col s12 m6" *ngFor="let item of myBooks; let i = index">
<div class="card horizontal">
      <div class="card-image">
        <img src={{item.thumbnail.thumbnail}} style="height: 145px">
            <a class="btn-floating btn-small waves-effect waves-light right" id="add-item" (click)="addNewItem(item.title)"><i class="material-icons">add</i></a>
      </div>
      <div class="card-stacked">
        <div class="card-content">
           <h6>{{item.title}}</h6>
           <div class="description-text">
            <p>{{item.description}}</p>
           </div>
        </div>
      </div>
    </div>
</div>
</div>
